body {
    background-color: rgba(183, 183, 183, 0.4);
}

.RegisterModal {
    position: fixed; /* Makes the div independent of other components */
    flex-grow: inherit;
    display: flex;       /* Enable Flexbox */
    flex-direction: column; /* Align children in a row (default, but explicitly stated) */
    gap: 30px;           /* Optional: Add spacing between items */
    justify-content: center; /* Optional: Center items horizontally */
    align-items: center;    /* Optional: Center items vertically */
    width: 300px;
    min-height: 400px;
    background-color: #f8f9fa;

    top: 50%;        /* Center vertically */
    left: 50%;       /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by 50% of its width and height */
    /*padding: 20px;   !* Optional: Add some padding *!*/
    border-radius: 10px;
    /*border: #888888 3px solid;*/

    animation: fadeIn 0.3s ease-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}




