.inputField {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.inputField input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins Light', sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.inputField input:hover{
    transition: transform 0.1s ease-out; /* Smooth transition */

    transform: scale(1.05); /* Shrinks the button to 90% of its size when clicked */
}

.inputField input.fail{
    border: 1px solid #ff5a5f;
}

.inputField input:focus{
    outline: none;
    border: rgb(161, 161, 161) 1px solid;
}

.errorContainer{
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.error{
    font-weight: bold;
    font-family: 'Poppins Light', sans-serif;
    font-size: small;
    position: absolute;
    text-align: left;
}

