
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 96, 96, 0.17); /* Dark transparent background */
    z-index: -1000; /* Ensure it appears behind the modal */
}